<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EnterRecovery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Rainbow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestLeprechaun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libleprechaun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52AB55DE13940A7300195CD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B897201394460400C852D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B8B4481393E4EE0099335A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B8B4581393F7210099335A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B8B4691394048A0099335A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E974861393053500535F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E974A71393053500535F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
